#servicio-atencion-perfil {
    display: flex;
    flex-direction: row;
  }
  
  #servicio-atencion {
    display: flex;
    flex-direction: row;
    border-top: 4px solid var(--azul-claro-uoc);
    margin-right: 0.5em;
    font-size: 90%;
    max-width: 8em;
    text-align: left;
  }
  
  #servicio-atencion > img {
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-right: -5px;
  }
  
  #servicio-atencion-texto {
    margin-top: 0.3em;
  }
  
  @media screen and (max-width: 800px) {
    #servicio-atencion {
      min-width: 1em;
      max-width: 5em;
      justify-content: center;
    }
  
    #servicio-atencion > img {
      width: 55px;
      height: 55px;
    }
  
    #servicio-atencion-texto {
      visibility: collapse;
    }
  }
  
  @media screen and (max-width: 500px) {
    #servicio-atencion {
      width: 2.5em;
    }
  
    #servicio-atencion > img {
      width: 3em;
      height: 3em;
    }
  }
  